{% extends "appmundial/base1.html" %}

{% block contenido %}
<div class="masthead" style="background: rgb(166, 51, 79) ;">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">

        <style type="text/css">
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }
            th, td {
                padding: 10px;
            }
            td {
                text-align: center;
            }
        </style>
        <table>
            <thead>
                <tr>
                    <th scope="col">nombre</th>
                    <th scope="col">apellido</th>
                    <th scope="col">nacionalidad</th>
                    <th scope="col">pais que representa</th>
                </tr>
            </thead>
            <tbody>
                {% for dt in listasdirectores %}
                <tr>
                    <td>{{dt.nombre_dt}}</td>
                    <td>{{dt.apellido_dt}}</td>
                    <td>{{dt.pais_dt}}</td>
                    <td>{{dt.seleccion_representada}}</td>
                {% endfor %}
                </tr>
            </tbody>
        </table>  
    </div>
</div>  
{% endblock %}