{% extends "appmundial/base3.html" %}

{% block nav %}

    <li class="nav-item"><a class="nav-link" style="color:black ;" href="{% url 'mundial-jugadores' %}">jugadores</a></li>
    <li class="nav-item"><a class="nav-link" style="color:black ;" href="{% url 'mundial-buscar' %}">Buscar jugador</a></li>
    <li class="nav-item"><a class="nav-link" style="color:black ;" href="{% url 'mundial-lesionados'%}">lesionados</a></li>

{% endblock %}

{% block contenido %}
<div class="masthead" style="background: rgb(166, 51, 79) ;">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <style type="text/css">
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }
            th, td {
                padding: 10px;
            }
            td {
                text-align: center;
            }
        </style>    

        <table>
            <thead>
                <tr>
                    <th style="color: black;" scope="col">nombre</th>
                    <th style="color: black;" scope="col">apellido</th>
                    <th style="color: black;" scope="col">numero</th>
                    <th style="color: black;" scope="col">pais</th>
                </tr>
            </thead>
            <tbody>
                {% for jugador in listajugadores %}
                <tr>
                    <td style="color: black;">{{jugador.nombres_jugador}}</td>
                    <td style="color: black;">{{jugador.apellidos_jugador}}</td>
                    <td style="color: black;">{{jugador.numero_camiseta}}</td>
                    <td style="color: black;">{{jugador.pais_jugador}}</td>
                {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
</div>  
{% endblock %}