{% extends "appmundial/base3.html" %}

{% block nav %}

    <li class="nav-item"><a class="nav-link" style="color:black ;" href="{% url 'mundial-subir-lesionados'%}">subir lesionado</a></li>

{% endblock %}

{% block contenido %}

<div class="masthead" style="background: rgb(166, 51, 79) ;">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">

        <style type="text/css">
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }
            th, td {
                padding: 10px;
            }
            td {
                text-align: center;
            }
        </style>
        <table>
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                </tr>
            </thead>
            <tbody>
                {% for lesionado in listaslesionados %}
                <tr>
                    <td>{{lesionado.nom_jug_les}}</td>
                    <td>{{lesionado.ape_jug_les}}</td>
                {% endfor %}
                </tr>
            </tbody>
        </table>  
    </div>
</div>  

{% endblock %}