{% extends "appmundial/base1.html" %}


{% block contenido %}
<div class="masthead" style="background: rgb(166, 51, 79) ;">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <form action="{% url 'mundial-buscar' %}" method="get">

            <p>
                Nombre del Jugador: <input type="text" name="respusta">
            </p>
            <input type="submit" value="Buscar!">

        </form>

        {% if listajugadores %}

        <ul>
            {% for jugador1 in listajugadores %}
                <li> {{ jugador1.nombres_jugador }} {{ jugador1.apellidos_jugador }} </li>
            {% endfor %}
        </ul>
        
        {% endif %}
    </div>
</div>

{% endblock %}